<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <br />
    <%= f.email_field :email, autofocus: true, class: 'login-input', placeholder: 'E-mail Address', required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary login-input' %>
  </div>
<% end %>