<div class="login-centered login-box login-box-fp">
  <h2 class="login-header">Forgot your password?</h2>
  <%= render 'devise/passwords/fp_form' %>
  <%= render 'devise/shared/sign_in' %>
  <%= render 'devise/shared/sign_up' %>
  <br/>
</div>

