  <%= form_for point_of_contacts_path, method: :get do |f| %>
    <row class="form-search">
      <div class="col-md-12">
        <%= f.text_field :search_term,  class: 'poc-search-input', placeholder: "First Name, Last Name or Email. Wildcard '%' accepted." %>
      </div>
    </row>
    <row>
      <div class="col-md-4 poc-search">
        <%= f.submit "Search", class: "btn btn-lg btn-primary show-btn", method: :get %>
        <%= link_to 'Reset', point_of_contacts_path, class: "btn btn-lg btn-primary show-btn", method: :get %>
      </div>
    </row>
  <% end %>