<div class="poc-bg">
  <h2 class="show-header">Point Of Contacts</h2>
  <%= render 'poc_search_form' %>
  <row>
    <div class="col-md-12">
      <hr>
    </div>
  </row>
  <row>
    <div class="col-md-5">
      <h3 class="show-header poc-header-table">Contacts</h3>
    </div>
  </row>
  <table class="table table-hover">
    <thead class="bold">
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
     <%= render 'search_table', pocs: @point_of_contacts %>
    </tbody>
  </table>
  <%= paginate @point_of_contacts %>
</div>