// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or any plugin's vendor/assets/javascripts directory can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .
//= require bootstrap-sprockets

function populate(){
  $('.app-table').html(""); 
  var value  = $(".dash-search-input").val();
  if (value.length < 3){ return; }
    $.ajax({
    	url: '/search_app',
  	    data: { name: value },
  	    dataType: 'json',
  	    type: 'GET',
  	    error: function(jqXHR, textStatus, errorThrown){
  			 alert('Error: ' + errorThrown);
  		   },
  	    success: function(data){
  	    			var counter = 0;
	  	    	    if (data == '' || data == null){ return; } 
	  				var html = `<thead>
								  <tr>
								    <th>App Name</th>
								    <th>Jira Ticket Id</th>
								    <th>Reporter</th>
								    <th>Assignee</th>
								  </tr>
								</thead>`;
					$(data).each(function(index, value){
						var class_val = counter % 2 == 0 ? "class='info'" : '';
						var link = "<a href='/staff?id=${value.id}>'";
						var table_row = `<tr onclick='appLookUp(${value.id})' ${class_val} >  
											<td> ${value.name }</td>
											<td>${value.jira_ticket_id}</td>
											<td>${value.reporter}</td>
											<td>${value.assignee}</td>	
										 </tr>`;
						html = html.concat(table_row);
						counter++;
					});	
					$('.app-table').html(html);
	  	          }
   });

}


function appLookUp(appId){
  document.location = "/apps/" + appId;
}

