<div class="app-bg">
 <h2 class="show-header">Onboard Applications</h2>
 <%= render 'search_app_form' %>
 <row>
   <div class="col-md-12">
     <hr>
   </div>
 </row>
 <row>
   <div class="col-md-5">
     <h3 class="show-header app-header-table">Applications</h3>
   </div>
 </row>
   <table class="table table-hover">
     <thead>
       <tr>
         <th>Name</th>
         <th>Jira Ticket ID</th>
         <th>Application Url</th>
         <th>Epic Jira Ticket ID</th>
         <th>Status</th>
       </tr>
     </thead>
     <tbody>
       <%= render 'search_table', apps: @apps %>
     </tbody>
   </table>
   <%= paginate @apps %>
</div>
