<div class="row">
  <div class="col-mid-8 col-mid-offset-2 app_search">
      <h2 style="color: #316BA2;">Application Search</h2>
      <input class="dash-search-input" placeholder="Application Name, Ex: Project" onkeyup="populate()" type="text" />
      <br>
      <table class="table table-hover app-table">
      </table>
  </div>
</div>
