<div class="row">
  <div class="col-mid-8 col-mid-offset-2 app_search">
      <h2 style="color: #316BA2;">Application Search</h2>
      <%= form_for search_app_path  do |f| %>
      	<%= f.text_field :name, class: 'dash-search-input' %>
      	<%= f.submit "Search", class: 'btn btn-primary dash-search-submit' %>
      <% end %>
    </div>
  </div>
 </div>