<div class="row">
  <h2 style="color: #316BA2;">New Applications and Point of Contacts</h2>
  <div class="col-md-6 dash-stat-box">
    fdafsdadsfa 
  </div>
  <div class="col-md-6 dash-stat-box">
   fdafsdadsfa 
  </div>
</div>