<div class="row">
  <div class="col-mid-8 col-mid-offset-2 app_search">
      <h2 class="app_color">Onboard Application Search</h2>
      <input class="dash-search-app-input" placeholder="Application Name, Ex: Project" onkeyup="populate('app')" type="text" />
      <br>
      <table class="table table-hover app-table">
      </table>
  </div>
</div>

<div class="row poc-input-margin">
  <div class="col-mid-8 col-mid-offset-2 poc_search">
      <h2 class="app_color">Point Of Contact Search</h2>
      <input class="dash-search-poc-input" placeholder="Email, First Name or Last Name" onkeyup="populate('poc')" type="text" />
      <br>
      <table class="table table-hover poc-table">
      </table>
  </div>
</div>