<div class="container" style="margin-top: 15px;">
  <div class="row">
    <h2 class="app_color">Application Entries</h2>
    <a>
      <div class="col-mid-4 col-mid-offset-2 dash-table-box">
       Application Entries
      </div>
    </a>
  </div>
</div>