.error_explanation {
  color: #f00;
  margin: 10px 10px 10px 10px;
  ul {
    list-style: none;
    margin: 10px 15px 18px 15px;
    background-color: #FE8F8F;
    padding: 10px 10px 10px 10px;
  }
}
