/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
  @import "bootstrap-sprockets";
  @import "bootstrap";

  body {
  background-color: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  color: #000000;
}

.jira {
  color: #FFFFFF;
  font-weight: bold;
  font-size: small;
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  max-width: 20%;
}

.jira-not_started {
  border-color: 000000;
  border-style: solid;
  background-color: #000000;
}

.jira-blocked{
  border-color: FF0000;
  border-style: solid;
  background-color: #FF0000;
}

.jira-in_progress{
  border-color: FA6000;
  border-style: solid;
  background-color:#FFA600;
}

.jira-completed, .jira-done {
  border-color: 1ADC06;
  border-style: solid;
  background-color: #1ADC06;
}

.jira-accepted {
  border-color: #005DFF;
  border-style: solid;
  background-color:  #005DFF;
}