// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app_search, .poc_search {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 20px 35px 20px 35px;
}

.dash-search-app-input, .dash-search-poc-input {
	height: 45px;
	width: 100%;
	border-radius: 5px;
	padding: 10px 5px 10px 5px;
	margin: 10px 0px 25px 0px;
	font-weight: bold;
	&:focus{
		border-color:  #316BA2;
		border-style: solid; 
	}
}

.dash-search-submit {
	width: 100px;
	height: 40px;
	font-weight: bold;

}

.dash-stat-box {
	background-color: #FFFFFF;
	border-radius: 5px;
	height: 300px; 
	margin: 10px 0px 30px 0px;
}

.dash-table-box {
	background-color: #FFFFFF;
	border-radius: 10px;
	margin: 20px 0px;
	height: 500px;
	padding: 10px 5px 10px 5px;
}